[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
easygui = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
openpyxl = "*"
mpl-finance = "*"
mplfinance = "*"

[requires]
python_version = "3.8"
